!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%title= @title || ''
		%meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")
		%meta(name="format-detection" content="telephone=no")
		%link(rel="stylesheet" href="/css/reset.css")
		/[if IE]
			%script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
	%body
		%header
			%h1
				%a(href="/")= @title || ''
		#content
			=yield
		%footer
			%p(id="created_by")
				%small Created by
				%a(href="#") rightgo09
